@charset "utf-8";
/* ===========================================================

	Title:		about.css
	Created:	2016-10-25

=========================================================== */
/* ===========================================================

	finance
	
=========================================================== */
table tr.debt-tr td {
	border-top: none !important;
}

