@charset "utf-8";

/* ===========================================================



	Title: individual.css

	Created:	2016-11-11



=========================================================== */

/*





		link

		



=========================================================== */

/* ===========================================================



	link



=========================================================== */


a:hover .ic-pdf-s {
	    color: #fff;
    background-color: rgba(226,226,226,0.3);

}
