@charset "utf-8";
/* ===========================================================

	Title: module.css
	Last Created: 2017-1-19
	
=========================================================== */
/*

	module
	
=========================================================== */
/* ===========================================================

	module
	
=========================================================== */
/* module
----------------------------------------------------------- */
.module .module__title {
  font-size: 18px;
  font-weight: bold;
  padding: 20px 20px 20px 45px;
  margin: 60px 0 30px;
  border: solid 1px #ddd;
  border-top: solid 5px #555;
  background: #f5f5f5 url(../img/wheel.png) 20px 50% no-repeat;
  background: #f5f5f5 url(../img/spanner.png) 20px 50% no-repeat;
  background: #f5f5f5 url(../img/pen.png) 22px 50% no-repeat;
}
.module #module-type0 {
  margin-top: 0;
}
/* module-tab
----------------------------------------------------------- */
.module-tab {
  clear: both;
  margin: 0 0 20px;
  height: 51px;
  line-height: 51px;
}
.module-tab ul {
  border-bottom: solid 1px #ddd;
  height: 50px;
  line-height: 50px;
  margin: 0;
}
.module-tab li {
  display: inline-block;
  margin: 0 2px 0 0;
  font-size: 13px;
}
.module-tab a {
  display: inline-block;
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  border: solid 1px #2d2d2d;
  background: #2d2d2d;
  color: #fff;
  border-radius: 5px 5px 0 0;
  transition: 0.2s ease-in-out;
}
.module-tab a:hover {
  text-decoration: none;
  opacity: 0.6;
}
.module-tab span {
  background: url(../img/arrow_a.png) 0 50% no-repeat;
  padding: 0 0 0 12px;
}
.module-tab a.current {
  background: #fff;
  border: solid 1px #ddd;
  border-bottom: solid 1px #fff;
  color: #111;
}
.module-tab a.current span {
  background: none;
  padding: 0;
  font-weight: bold;
}
/* .module-tab-side
----------------------------------------------------------- */
.module-tab-side ul {
  position: fixed;
  top: 130px;
  left: 50%;
  margin: 0 0 0 510px;
  height: auto;
  line-height: normal;
  border: none;
  border-left: solid 1px #ddd;
  padding: 10px 0 1px;
  width: 180px;
  z-index: 1;
}
.module-tab-side ul li {
  display: block;
  margin: 0 0 10px;
  font-size: 13px;
}
.module-tab-side ul li a {
  display: block;
  padding: 0 20px 0 15px;
  height: 60px;
  line-height: 60px;
  border: solid 1px #ddd;
  background: #f5f5f5;
  margin: 0 0 0 -1px;
}
.module-tab-side ul li a span {
  background: url(../img/arrow_a.png) 0 50% no-repeat;
  padding: 0 0 0 12px;
}
.module-tab-side ul li a.current {
  background: #fff;
  border: solid 1px #ddd;
  border-left: solid 1px #fff;
  color: #111;
}
.module-tab-side ul li a.current span {
  background: none;
  padding: 0;
  font-weight: bold;
}

/* module-link
----------------------------------------------------------- */
.module-link {
  font-size: 12px;
  padding: 20px 10px 10px 20px;
  margin: 0 0 30px;
  border: solid 1px #ddd;
  background: #f5f5f5;
}
.module-link li {
  float: left;
}
.module-link li {
  padding: 0 10px 0 0;
  margin: 0 10px 10px 0;
  border-right: solid 1px #ddd;
  line-height: 1.4;
}
.module-link li span {
  background: url(../img/arrow_b.png) 0 50% no-repeat;
  padding: 0 0 0 12px;
}
.module-link li:last-child {
  border: none;
}
/* pre
----------------------------------------------------------- */
.pre-title {
  clear: both;
  /*margin: 0 0 -1em;*/
  margin: 20px 0 5px;
  padding: 0;
  line-height: 1;
  font-style: italic;
  color: #999;
  font-size: 11px;
}
pre {
  margin: 0 0 60px !important;
}
pre code {
  padding: 20px !important;
  font-size: 12px;
}
/* color-code
----------------------------------------------------------- */
table.color-code,
table.color-code tr th,
table.color-code tr td {
  border: none;
}
table.color-code {
  margin: 0 0 30px;
}
table.color-code tr th {
  width: 8%;
  white-space: nowrap;
  color: #fff;
  text-align: center;
}
table.color-code tr td {
  width: 17%;
  background: none;
  color: #555;
}
