---
import LibraryLayout from "@layouts/LibraryLayout.astro";
export async function getStaticPaths() {
  const pages = [
    {
      slug: "about",
      title: "Astroストア",
    },
    {
      slug: "contents",
      title: "Astroグッズ",
    },
    {
      slug: "color",
      title: "究極のAstroハンドブック",
    },
  ];
  return pages.map(({ slug, title }) => {
    return {
      params: { slug },
      props: { title },
    };
  });
}
const { title } = Astro.props;
---

<LibraryLayout>
  {title}
  <slot><p>Fallback用</p></slot>
</LibraryLayout>
