---
import Layout from "../layouts/Layout.astro";
import Aside from "../components/Aside.astro";
import "../base.css";
---

<Layout title="Welcome to Astro.">
  <main class="prose mx-auto">
    <h1>投資法人用ライブラリー</h1>
    <p>むかしむかし大舘くんがつくったよ</p>
    <Aside />
  </main>
</Layout>

<style></style>
