
    <h1>Module Links</h1>
    <ul>
	<li><a href="./index.html">基本スタイル</a></li>
	<li><a href="./contents.html">コンテンツスタイル</a></li>
	<li><a href="./style.html">汎用スタイル</a></li>
	<li><a href="./color.html">カラーコード</a></li>
	<li><a href="./about.html">投資法人について</a></li>
	<li><a href="./feature.html">投資法人の特徴</a></li>
	<li><a href="./portfolio.html">不動産ポートフォリオ</a></li>
	<li><a href="./finance.html">財務情報</a></li>
	<li><a href="./ir.html">IR情報</a></li>
	<li><a href="./other.html">その他</a></li>
    </ul>