---
import snData from "./sn.json";
---

<aside class="prose mx-auto">
  <h2>Module Links</h2>
  <ul>
    {
      snData.map((data) => (
        <li>
          <a href={data.href}>{data.name}</a>
        </li>
      ))
    }
  </ul>
</aside>
