<aside class="prose mx-auto">
  <h2>Module Links</h2>
  <ul>
    <li><a href="library/basic">基本スタイル</a></li>
    <li><a href="library/contents">コンテンツスタイル</a></li>
    <li><a href="library/style">汎用スタイル</a></li>
    <li><a href="library/color">カラーコード</a></li>
    <li><a href="library/about">投資法人について</a></li>
    <li><a href="library/feature">投資法人の特徴</a></li>
    <li><a href="library/portfolio">不動産ポートフォリオ</a></li>
    <li><a href="library/finance">財務情報</a></li>
    <li><a href="library/ir">IR情報</a></li>
    <li><a href="library/other">その他</a></li>
  </ul>
</aside>
